{% extends 'to_do_list/base.html' %}
{% load i18n %}

{% block title %}
<title> Ad_como - Add task </title>
{% endblock%}

{% block content %}
<form action="{% url 'add' %}" method="post">{% csrf_token %}

    <!-- <table class="table">{{ form.as_table }}</table> -->

    <label for="title">{% trans 'Title' %}</label>
    <br />
    <input class="form-control" type="text" name="title" id="title">
    <br />
    <label for="description">{% trans 'Description' %}</label>
    <br />
    <textarea class="form-control" name="description" id="description" > </textarea>
    <br />
    <label for="priority">{% trans 'Priority' %}</label>
    <select class="form-control" name="priority" id="priority">
        <option value="0">{% trans 'High' %}</option>
        <option value="1">{% trans 'Medium' %}</option>
        <option value="2">{% trans 'Low' %}</option>
        <option value="-1" selected="">{% trans 'None' %}</option>
    </select>
    <br />

    <div class="form-row field-tags">
        <div>
            <label for="id_tags">{% trans 'Tags' %}:</label>
            <div class="related-widget-wrapper">
                <select class="form-control" name="tags" id="id_tags" multiple="multiple">
                    {% for tag in tags %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="help">{% trans 'Hold down "Control", or "Command" on a Mac, to select more than one.' %}</div>
        </div>
    </div>
    <br />
    <div class="form-row field-tags">
        <div>
            <label for="list_id">{% trans 'List' %}:</label>
            <div class="related-widget-wrapper">
                <select class="form-control" name="list_id" id="list_id">
                    {% for list in task_lists %}
                    <option value="{{ list.id }}">{{ list.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="help">{% trans 'Hold down "Control", or "Command" on a Mac, to select more than one.' %}</div>
        </div>
    </div>
    <br />
    <div>
        <label for="deadline">{% trans 'Deadline' %}:</label>
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='deadline'>
                        <input type='text' class="form-control" name="deadline" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#deadline').datetimepicker();
                });
            </script>
        </div>
    </div>

    <div class="row">
        <div class="col col-sm-2">
            <label for="period">{% trans 'Repeat every' %}:</label>
            <input type="number" min="1" name="count" class="form-control" style="margin-bottom:10px" value="1">
            <select class="form-control" name="period" id="period">
                <option value="D">{% trans 'Day' %}</option>
                <option value="W">{% trans 'Week' %}</option>
                <option value="M">{% trans 'Month' %}</option>
                <option value="Y">{% trans 'Year' %}</option>
                <option value="N" selected>{%  trans 'None' %}</option>
            </select>
        </div>
        <div class="col col-sm-2">
            <label for="days">{% trans 'Days' %}:</label>
            <select class="form-control"  name="days" id="days" multiple="multiple">
                <option value="1">{% trans 'Monday' %}</option>
                <option value="2">{% trans 'Tuesday' %}</option>
                <option value="3">{% trans 'Wednesday' %}</option>
                <option value="4">{% trans 'Thursday' %}</option>
                <option value="5">{% trans 'Friday' %}</option>
                <option value="6">{% trans 'Saturday' %}</option>
                <option value="7">{% trans 'Sunday' %}</option>
            </select>
        </div>
    </div>

    <br />
    <input type="submit" class="btn btn-light" value="submit">

    <script>
        if (top != self) { top.location.replace(self.location.href); }
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47462200-1', 'eonasdan.github.io');
        ga('send', 'pageview');
    </script>
</form>
{% endblock%}