{% extends 'to_do_list/base.html' %}
{% load i18n %}

{% block title %}
<title> Ad_como - Trash </title>
{% endblock%}

{% block content %}
<h5>{% trans 'Tasks' %}:</h5>
<ul>
    {% for task in tasks %}
    <li>
        <a href="{% url 'details' task_id=task.id %}">{{ task.title }}</a> : {{task.description}}
        <form action="{% url 'repair_task' task_id=task.id %}" class="task_form">
            <input type="submit" class="btn btn-link" value={% trans 'Repair' %} />
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}