{% extends 'to_do_list/base.html' %}
{% load i18n %}

{% block title %}
<title> Ad_como - Task info </title>
{% endblock%}

{% block content %}
<div class="container" style="width: 100%;">
    <div class="row">
        <div class="col col-sm-6">
            <h1>{{task.title}}</h1>

            {% if task.status != 'C' %}
            <a href="{% url 'complete_task' task_id=task.id %}?next={{request_path}}" class="btn btn-link">{% trans 'Complete' %}</a>
            {% else %}
            <a href="{% url 'repair_task' task_id=task.id %}?next={{request_path}}" class="btn btn-link">{% trans 'Repair' %}</a>
            {% endif %}
            {% if task.created_user == user %}
            <a href="{% url 'edit_task' task_id=task.id %}?next={{request_path}}" class="btn btn-link">{% trans 'Edit' %}</a>
            <a href="{% url 'trash_task' task_id=task.id %}?next={{request_path}}" class="btn btn-link">{% trans 'Trash' %}</a>
            {% endif %}

            <p>{% trans 'Description' %}:&nbsp {{ task.description }} </p>
            <p>{% trans 'Created' %}:&nbsp {{ task.created }} </p>
            <p>{% trans 'Deadline' %}: &nbsp {{ task.deadline }} </p>
            {% if task.period_val != 'N' %}
            <p>{% trans 'Repeat every' %}: &nbsp {{ task.period_count }} &nbsp {{task.get_period_val_display }}(s) </p>
            {% endif %}
            {% if task.period_val == 'W' %}
            <p>{% trans 'At' %}: &nbsp {{ task.repeat_days }} </p>
            {% endif %}
            <p>{% trans 'Created user' %}:&nbsp {{ task.created_user }} </p>
            {% if task.status == 'C' %}
            <p>{% trans 'Completed user' %}:&nbsp {{ task.completed_user }} </p>
            {% endif %}
            <p>{% trans 'Task list' %}:&nbsp {{ task.task_list }} </p>
            <p>{% trans 'Status' %}:&nbsp {{ task.get_status_display }} </p>
            <p>{% trans 'Priority' %}:&nbsp {{ task.get_priority_display }} </p>
            <h5>{% trans 'Tags' %}:</h5>
            <ul>
                {% for tag in task.tags.all %}
                <li>
                    {{tag}}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col col-sm-6">
            <h3>{% trans 'Subtasks' %}:</h3>
            <form method="post" class="form-group">
                {% csrf_token %}
                <label for="subtask_name">{% trans 'Name' %}</label>
                <div class="input-group">
                    <input type="text" id="subtask_name" name="subtask_name" class="form-control">
                    <input type="submit" class="btn btn-success">
                </div>
            </form>
            <hr>
            <h2>{% trans 'Pending' %}</h2>
            <ul class="list-group">
                {% for st in pending_st %}
                <li>{{st.title}}
                    <a href="{% url 'complete_subtask' subtask_id=st.id %}" class="btn btn-link">{% trans 'Complete' %}</a>
                    <a href="{% url 'delete_subtask' subtask_id=st.id %}" class="btn btn-link">{% trans 'Delete' %}</a>
                </li>
                {% endfor %}
            </ul>
            <hr>
            <h2>{% trans 'Completed' %}</h2>
            <ul class="list-group">
                {% for st in completed_st %}
                <li>{{st.title}}
                    <a href="{% url 'repair_subtask' subtask_id=st.id %}" class="btn btn-link">{% trans 'Repair' %}</a>
                    <a href="{% url 'delete_subtask' subtask_id=st.id %}" class="btn btn-link">{% trans 'Delete' %}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
