{% extends 'to_do_list/base.html' %}
{% load i18n %}
{% block title %}
<title> Ad_como - Edit tag </title>
{% endblock%}

{% block content %}
<form method="post" class="form-group">
    {% csrf_token %}
    <label for="name">{% trans 'Name' %}</label>
    <br />
    <input class="form-control" type="text" name="name" id="name" value="{{ name }}">
    <br />
    <input class="btn btn-success" type="submit" value="submit">
</form>
{% endblock %}