{% extends 'to_do_list/base.html' %}
{% load i18n %}
{% block title %}
<title> Ad_como - Tasks </title>
{% endblock%}

{% block content %}
<form action="{% url 'add' %}">
    <input type="submit" class="btn btn-link" value={% trans 'Add task' %}>
</form>
{% include 'to_do_list/task_list.html' %}
{% endblock %}