{% extends 'to_do_list/base.html' %}
{% load i18n %}
{% block title %}
<title> Ad_como - Invite </title>
{% endblock%}

{% block content %}
<form method="post">
    {% csrf_token %}
    <label for="iser_id">{% trans 'Username' %}</label>
    <br />
    <select class="form-control" name="user_id" id="iser_id">
        {% for user in users %}
        <option value="{{ user.id }}">{{ user }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="submit" class="btn btn-success">
</form>
{% endblock%}