{% extends 'to_do_list/base.html' %}
{% load i18n %}

{% block title %}
<title> Ad_como - Tasks </title>
{% endblock%}

{% block content %}
<h2>{{list.name}}</h2>
<div class="btn-group" role="group" aria-label="Basic example">
    {% if not list.is_private %}
    <a href="{% url 'invite' list_id=list.id %}" class="btn btn-link">{% trans 'Invite' %}</a>
    {% endif %}
    {% if superuser %}
    <a href="{% url 'edit_list' list_id=list.id  %}" class="btn btn-link">{% trans 'Edit' %}</a>
    <a href="{% url 'delete_list' list_id=list.id  %}" class="btn btn-link">{% trans 'Delete' %}</a>
    {% else %}
    <a href="{% url 'exit_list' list_id=list.id %}" class="btn btn-link">{% trans 'Exit' %}</a>
    {% endif %}
</div>
<h5>{% trans 'Users' %}:</h5>
<ul>
    {% for user in users %}
    <li>
        {{ user }}
        {% if superuser and user != request.user %}
        <form action="{% url 'kick_user' list_id=list.id  user_id=user.id %}" class="task_form">
            <input type="submit" class="btn btn-link" value={% trans 'Kick' %} />
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<h5>{% trans 'Tasks' %}:</h5>
<form action="{% url 'add' %}">
    <input type="submit" class="btn btn-link" value={% trans 'Add task' %}>
</form>
{% include 'to_do_list/task_list.html' %}
{% endblock %}