{% extends 'to_do_list/base.html' %}
{% load i18n %}
{% block title %}
<title> Ad_como - Login </title>
{% endblock%}

{% load staticfiles %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
    <h2 id="login_header">{% trans 'Login' %}</h2>
    <form role="form" id="login_form" class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="login" />
    </form>
    <a href="{% url 'signup' %}" class="btn btn-link">{% trans 'Sign up' %}</a>
{% endblock %}
