{% extends 'to_do_list/base.html' %}
{% load i18n %}

{% block title %}
<title> Ad_como - Signup </title>
{% endblock%}

{% block content %}
  <h2>{% trans 'Sign up' %}</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label class="my_class" for="{{ field.name }}">{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">{% trans 'Sign up' %}</button>
  </form>
{% endblock %}
