{% extends 'to_do_list/base.html' %}
{% load i18n %}


{% block title %}
<title> Ad_como - Tasks </title>
{% endblock%}

{% block content %}
<h2>{{tag.name}}</h2>
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'edit_tag' tag_id=tag.id  %}" class="btn btn-link">{% trans 'Edit' %}</a>
    <a href="{% url 'delete_tag' tag_id=tag.id  %}" class="btn btn-link">{% trans 'Delete' %}</a>
</div>
{% include 'to_do_list/task_list.html' %}
{% endblock %}